.header {
  background: #fff;
  position: relative;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;

  transform: translateX(100%);
  transition: transform 300ms ease-in-out;

  display: flex;
  flex-direction: column;
  padding: 40px;
}

.mobile-menu.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
